<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <compilation debug="false" targetFramework="4.0"/>
        <globalization
           fileEncoding="utf-8"
           requestEncoding="utf-8"
           responseEncoding="utf-8"
           culture="da-DK"
           uiCulture="da-DK"
        />
  <!--<rewrite>
    <rules>
      <rule name=”Redirect to https”>
        <match url=”(.*)”/>
        <conditions>
          <add input=”{HTTPS}” pattern=”Off”/>
          <add input=”{REQUEST_METHOD}” pattern=”^get$|^head$” />
        </conditions>
        <action type=”Redirect” url=”https://{HTTP_HOST}/{R:1}”/>
      </rule>
    </rules>
  </rewrite>-->
        
              
  </system.webServer>

  
</configuration>