
div #KPIIalt {
cursor: pointer;}

div .clickableKPI {
cursor: pointer;}

div.KPIActive {
    background: #D8D8D8;
    opacity: 1;
}

div#ageFilter.rfComponentContainer.rfWrapper.rfCore.rfChromeless {
    height: 2.5em;
    font-size: 1.0em !important;
    line-height: 100% !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 10px;
    text-align: center;
    /*vertical-align: middle;*/
    overflow: hidden;
    padding-top: 0.7em;
    /*padding-bottom: auto;*/
    cursor: pointer;   
}

div#note {
    font-size: 0.8em !important;
    color: #999 !important;
    height:1.3em !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;  
}

div#dbTargetCharts {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}

div#dbTarget {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}